/*
!/.gitignore
!/README.md

!/.config
/.config/**
!/.config/fish/
!/.config/fish/**
!/.config/helix/
!/.config/helix/**
!/.config/starship.toml

!/.python_scripts
!/.restic-excludes.txt
!/.tmux.conf

fish_frozen_key_bindings.fish
fish_variables
env.fish
*.bak
*.lock
*.db
__pycache__
.venv
