/*
!/.gitignore
!/.gitattributes
!/README.md

!/.config
/.config/**
!/.config/rio
!/.config/rio/**
!/.config/nushell
!/.config/nushell/**
/.config/nushell/history.sqlite3*
/.config/nushell/secrets.nu
/.config/nushell/env.nu
/.config/nushell/history.txt
!/.config/helix
!/.config/helix/**
!/.config/starship.toml
!/.config/io.datasette.llm
!/.config/io.datasette.llm/extra-openai-models.yaml

!/.restic-excludes.txt
!/.tmux.conf

fish_frozen_key_bindings.fish
fish_variables
env.fish
.DS_Store
*.bak
*.lock
*.db
__pycache__
.venv
