/*
!/.gitignore
!/README.md

!/.config
/.config/**
!/.config/rio
!/.config/rio/**
!/.config/fish
!/.config/fish/**
!/.config/helix
!/.config/helix/**
!/.config/starship.toml
!/.config/io.datasette.llm
!/.config/io.datasette.llm/extra-openai-models.yaml

!/.python_scripts
!/.restic-excludes.txt
!/.tmux.conf

fish_frozen_key_bindings.fish
fish_variables
env.fish
.DS_Store
*.bak
*.lock
*.db
__pycache__
.venv
